<div class="nav">
  <input type="checkbox" id="menu-toggle" class="nav__toggle">

  <label for="menu-toggle" class="nav__hamburger">
    <span class="nav__hamburger-bar"></span>
    <span class="nav__hamburger-bar"></span>
    <span class="nav__hamburger-bar"></span>
  </label>

  <nav class="nav__panel">
    <ul class="nav__list">
      <li class="nav__item"><a href="/" class="nav__link">Home</a></li>
      <li class="nav__item"><a href="/thoughts/" class="nav__link">Thoughts</a></li>
      <li class="nav__item"><a href="/about/" class="nav__link">About</a></li>
    </ul>
  </nav>
</div>
